.job-category-list{
    background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
  border-radius: 8px;
  padding: 40px 100px 40px 40px;
  margin: 40px 13px 0 23px;
}
.job-category-list p{
    color: #A3A3A3;
}

@media all and (max-width: 576px) {

  .job-category-list{
    text-align: center;
    padding:40px;
    margin: 30px;
  }  
}