.full-job-cart {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 30px;
  padding: 30px;
  border-style: groove;
  border-radius: 10px;
  margin-bottom: 25px;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  border-radius: 8px;
}

.full-job-cart h3 {
  font-weight: 400;
  font-size: 24px;
  color: #474747;
  margin: 0;
  margin-top: 20px;
}

.full-job-cart p {
  font-weight: 200;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;
  color: #757575;
}

.col-11 {
  display: flex;
}

.col-11 p {
  padding: 9px 19px;
  border-radius: 8px;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  border-color: #9873ff;
  border-style: groove;
}

.col-21 {
  display: flex;
}

.primary-btn a {
  text-decoration: none;
}

a {
  all: unset;
}
.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

