.job-column {
  padding: 30px;
  border-style: groove;
  border-radius: 8px;
}

.job-column h3 {
  font-weight: 400;
  font-size: 24px;
  color: #474747;
  margin: 0;
  margin-top: 20px;
}

.job-column p {
  font-weight: 200;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;
  color: #757575;
}

.col-1{
  display: flex;
}

.col-1 p{
  padding: 9px 19px;
  border-radius: 8px;
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

border-color: #9873FF;
border-style: groove;
}

.col-2{
  display: flex;
}
.primary-btn a{
  text-decoration: none;
}
a{
  all: unset;
}


@media all and (max-width: 576px) {
  .job-column {
    margin-bottom: 30px;
  }
}