.category-list {
  padding: 130px 0 0px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.category-list-header {
  text-align: center;
}
.category-list-header h1 {
  font-weight: 800;
  font-size: 48px;
}

.category-list-header p {
  color: #757575;
}
.category-job-cart {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}
.job-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-left: 300px;
  margin-right: 300px;
}
.all-jobs-button1{
  width:100%;
  display: flex;
  justify-content: center;
}
.all-jobs-button{
  font-weight: 700;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 19px 28px;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
  border: #7e90fe;
  margin-top: 40px;
  margin-bottom: 40px;
}


@media all and (max-width: 576px) {
  .category-job-cart {
    display: block;
    justify-content: center;
  }
  .category-list {
    padding: 30px;
  }
  .category-list-header {
    text-align: center;
    margin-top: 200px;
  }
  .job-row {
    display: block;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
