.header {
  height: 80px;
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 300px 50px 300px;
}
.header h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
}
.header nav a {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 16px;
  margin-left: 31px;
}

.header nav a:hover {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.primary-btn {
  font-weight: 700;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 19px 28px;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
  border: #7e90fe;
}



@media all and (max-width: 576px) {
  .header {
    background: linear-gradient(
      90deg,
      rgba(126, 144, 254, 0.05) 0%,
      rgba(152, 115, 255, 0.05) 100%
    );
    padding: 30px;
    display:block;
  }
  .header h1 {
    text-align: center;
  }
  .header nav {
    text-align: center;
  }
  .btn-home{
    text-align: center;
    margin-top: 30px;
  }
}

